html {
  overflow-x: hidden;
}
body {
  background-color: aliceblue;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  margin-top: 1%;
}

#slideshow {
  width: 65%;
  margin: auto;
}

#list {
  width: 68%;
  float: left;
}

#content {
  padding-left: 17.50%;
  padding-right: 17.50%;
}

#list > h1, #fb > h1, #map > h1 {
  text-align: center;
}

/*#content > * {*/
/*  margin-left: 1%;*/
/*  margin-right: 1%;*/
/*}*/

#map {
  /*float:left;*/
  /*width: 28%;*/
}

#fb {
  /*width: 28%;*/
  /*float: left;*/
}

/* #fb > iframe {
  margin-bottom: 2%;
} */

@media only screen and (max-width: 900px) {
  #slideshow {
    width: 100%;
  }

  #list {
    width: 100%;
  }

  #content {
    padding-left: 5%;
    padding-right: 5%;
  }
  #map {
    width: 100%;
  }
  #fb {
    width: 100%;
  }
}